<!-- Copyright (c) 2021 Maria Crespo
Don't count the days, make the days count...Go Head!
All Rights Reserved
-->

<h1 class="display-5 text-center"> Move item <%= @item.description %> from box <%= @item.box.name %> to: </h1>
<%= form_with url: packing_path, model: @item, method: :put do |form| %>
  <%= render partial: "/layouts/flash", locals: {model: @item} %>
  <div class="field">
    <%= form.label :box %>
    <%= form.select :box, boxes_available(@item), :include_blank => true %>
  </div>
  <div class="field">
  <%= form.submit "Move", class: "btn1" %>
<% end %>