<!-- Copyright (c) 2021 Maria Crespo
Don't count the days, make the days count...Go Head!
All Rights Reserved
-->

<div class="container">
<%= form_with url: url, model: box do |form| %>
  <%= render partial: "layouts/flash", locals: {model: box} %>

  <div class="field">
    <%= form.label :boxname %>
    <%= form.text_field :boxname %>
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th class="display-4">Add Item</th>
      </tr>
      <tbody class="fields">
        <%= form.fields_for :items do |builder|%>
          <%= render partial: "item_box_fields", locals: {builder: builder} %>
        <% end %>
      </tbody>
  </table>
  <table class='table'>
    <tbody>
      <%= link_to_add_fields "Add Item", form, :items, class: "btn2" %> 
    </tbody>
  </table>
  
  <%= form.submit "Save", class: "btn1" %>
<% end %>
</div>
