<!-- Copyright (c) 2021 Maria Crespo
Don't count the days, make the days count...Go Head!
All Rights Reserved
-->

<nav class="navbar navbar-expand-lg navbar navbar-light bg-light">
  
	<a class="navbar-brand" id="logo" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="175.5pt" height="34.499999pt" viewBox="0 0 175.5 34.499999" version="1.2">
    <defs>
    <g>
    <symbol overflow="visible" id="glyph0-0">
    <path style="stroke:none;" d=""/>
    </symbol>
    <symbol overflow="visible" id="glyph0-1">
    <path style="stroke:none;" d="M 18.53125 0 L 17.25 0 L 12.421875 -9.625 L 7.609375 0 L 6.328125 0 L 0.265625 -12.9375 L 2.53125 -12.9375 L 7 -3.390625 L 11.796875 -12.9375 L 13.0625 -12.9375 L 17.859375 -3.390625 L 22.328125 -12.9375 L 24.609375 -12.9375 Z M 18.53125 0 "/>
    </symbol>
    <symbol overflow="visible" id="glyph0-2">
    <path style="stroke:none;" d="M 19.609375 0 L 17.5625 0 L 17.5625 -8.75 L 11.234375 0 L 10.1875 0 L 3.859375 -8.75 L 3.859375 0 L 1.8125 0 L 1.8125 -12.9375 L 3.359375 -12.9375 L 10.71875 -2.78125 L 18.0625 -12.9375 L 19.609375 -12.9375 Z M 19.609375 0 "/>
    </symbol>
    <symbol overflow="visible" id="glyph0-3">
    <path style="stroke:none;" d="M 13.6875 0 L 4.4375 0 C 3.582031 0 2.851562 -0.300781 2.25 -0.90625 C 1.65625 -1.507812 1.359375 -2.238281 1.359375 -3.09375 L 3.40625 -3.09375 C 3.40625 -2.800781 3.503906 -2.554688 3.703125 -2.359375 C 3.910156 -2.160156 4.15625 -2.0625 4.4375 -2.0625 L 13.6875 -2.0625 C 13.96875 -2.0625 14.207031 -2.160156 14.40625 -2.359375 C 14.613281 -2.554688 14.71875 -2.800781 14.71875 -3.09375 L 14.71875 -4.40625 C 14.71875 -4.695312 14.613281 -4.941406 14.40625 -5.140625 C 14.207031 -5.335938 13.96875 -5.4375 13.6875 -5.4375 L 4.4375 -5.4375 C 3.582031 -5.4375 2.851562 -5.738281 2.25 -6.34375 C 1.65625 -6.945312 1.359375 -7.675781 1.359375 -8.53125 L 1.359375 -9.859375 C 1.359375 -10.710938 1.65625 -11.4375 2.25 -12.03125 C 2.851562 -12.632812 3.582031 -12.9375 4.4375 -12.9375 L 13.6875 -12.9375 C 14.539062 -12.9375 15.269531 -12.632812 15.875 -12.03125 C 16.476562 -11.4375 16.78125 -10.710938 16.78125 -9.859375 L 14.71875 -9.859375 C 14.71875 -10.148438 14.613281 -10.394531 14.40625 -10.59375 C 14.207031 -10.789062 13.96875 -10.890625 13.6875 -10.890625 L 4.4375 -10.890625 C 4.15625 -10.890625 3.910156 -10.789062 3.703125 -10.59375 C 3.503906 -10.394531 3.40625 -10.148438 3.40625 -9.859375 L 3.40625 -8.53125 C 3.40625 -8.25 3.503906 -8.003906 3.703125 -7.796875 C 3.910156 -7.597656 4.15625 -7.5 4.4375 -7.5 L 13.6875 -7.5 C 14.539062 -7.5 15.269531 -7.195312 15.875 -6.59375 C 16.476562 -5.988281 16.78125 -5.257812 16.78125 -4.40625 L 16.78125 -3.09375 C 16.78125 -2.238281 16.476562 -1.507812 15.875 -0.90625 C 15.269531 -0.300781 14.539062 0 13.6875 0 Z M 13.6875 0 "/>
    </symbol>
    <symbol overflow="visible" id="glyph0-4">
    <path style="stroke:none;" d="M 0.546875 -5.6875 L 0.546875 -7.234375 L 5.953125 -7.234375 L 5.953125 -5.6875 Z M 0.546875 -5.6875 "/>
    </symbol>
    <symbol overflow="visible" id="glyph0-5">
    <path style="stroke:none;" d="M 18.875 0 L 16.375 0 L 14.484375 -2.8125 L 4.65625 -2.8125 L 2.75 0 L 0.265625 0 L 9.03125 -12.9375 L 10.125 -12.9375 Z M 13.09375 -4.859375 L 9.5625 -10.078125 L 6.03125 -4.859375 Z M 13.09375 -4.859375 "/>
    </symbol>
    <symbol overflow="visible" id="glyph0-6">
    <path style="stroke:none;" d="M 3.859375 0 L 1.8125 0 L 1.8125 -12.9375 L 14.140625 -12.9375 C 14.992188 -12.9375 15.722656 -12.632812 16.328125 -12.03125 C 16.929688 -11.4375 17.234375 -10.710938 17.234375 -9.859375 L 17.234375 -7.765625 C 17.234375 -6.910156 16.929688 -6.179688 16.328125 -5.578125 C 15.722656 -4.972656 14.992188 -4.671875 14.140625 -4.671875 L 3.859375 -4.671875 Z M 14.140625 -6.734375 C 14.421875 -6.734375 14.660156 -6.832031 14.859375 -7.03125 C 15.066406 -7.238281 15.171875 -7.484375 15.171875 -7.765625 L 15.171875 -9.859375 C 15.171875 -10.148438 15.066406 -10.394531 14.859375 -10.59375 C 14.660156 -10.789062 14.421875 -10.890625 14.140625 -10.890625 L 3.859375 -10.890625 L 3.859375 -6.734375 Z M 14.140625 -6.734375 "/>
    </symbol>
    </g>
    <clipPath id="clip1">
      <path d="M 7 2.976562 L 42.96875 2.976562 L 42.96875 31.148438 L 7 31.148438 Z M 7 2.976562 "/>
    </clipPath>
    <clipPath id="clip2">
      <path d="M 3.675781 27 L 8 27 L 8 31.148438 L 3.675781 31.148438 Z M 3.675781 27 "/>
    </clipPath>
    <clipPath id="clip3">
      <path d="M 8 27 L 12 27 L 12 31.148438 L 8 31.148438 Z M 8 27 "/>
    </clipPath>
    </defs>
    <g id="surface1">
    <g style="fill:rgb(2.749634%,8.628845%,90.589905%);fill-opacity:1;">
      <use xlink:href="#glyph0-1" x="45.946686" y="26.046377"/>
      <use xlink:href="#glyph0-2" x="70.815388" y="26.046377"/>
      <use xlink:href="#glyph0-3" x="92.228098" y="26.046377"/>
      <use xlink:href="#glyph0-4" x="110.356263" y="26.046377"/>
      <use xlink:href="#glyph0-5" x="116.844143" y="26.046377"/>
      <use xlink:href="#glyph0-6" x="135.982938" y="26.046377"/>
      <use xlink:href="#glyph0-6" x="154.562276" y="26.046377"/>
    </g>
    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(98.429871%,65.098572%,5.879211%);fill-opacity:1;" d="M 10.757812 29.742188 C 11.53125 29.742188 12.160156 29.109375 12.160156 28.332031 C 12.160156 28.332031 12.160156 28.328125 12.160156 28.328125 C 12.15625 25.792969 11.589844 23.289062 10.5 20.996094 C 10.007812 19.972656 8.976562 19.316406 7.839844 19.316406 L 5.828125 19.316406 C 5.050781 19.316406 4.425781 19.945312 4.425781 20.726562 L 4.425781 28.332031 C 4.425781 29.109375 5.050781 29.742188 5.828125 29.742188 Z M 10.757812 29.742188 "/>
    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(99.609375%,93.728638%,82.749939%);fill-opacity:1;" d="M 9.234375 21.605469 C 8.976562 21.066406 8.433594 20.726562 7.839844 20.726562 L 5.910156 20.726562 C 5.722656 23.261719 7.617188 25.472656 10.144531 25.660156 C 10.273438 25.667969 10.398438 25.671875 10.527344 25.671875 C 10.28125 24.261719 9.847656 22.894531 9.234375 21.605469 Z M 9.234375 21.605469 "/>
    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(5.879211%,90.979004%,47.44873%);fill-opacity:1;" d="M 31.738281 22.699219 L 37.347656 22.699219 L 37.347656 28.332031 L 31.738281 28.332031 Z M 31.738281 22.699219 "/>
    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(5.879211%,90.979004%,47.44873%);fill-opacity:1;" d="M 31.738281 15.652344 L 37.347656 15.652344 L 37.347656 21.289062 L 31.738281 21.289062 Z M 31.738281 15.652344 "/>
    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(5.879211%,90.979004%,47.44873%);fill-opacity:1;" d="M 24.726562 22.699219 L 30.335938 22.699219 L 30.335938 28.332031 L 24.726562 28.332031 Z M 24.726562 22.699219 "/>
    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(98.429871%,65.098572%,5.879211%);fill-opacity:1;" d="M 13.503906 28.332031 L 13.503906 18.472656 L 14.90625 18.472656 L 14.90625 26.921875 L 17.714844 26.921875 L 17.714844 28.332031 Z M 13.503906 28.332031 "/>
    <g clip-path="url(#clip1)" clip-rule="nonzero">
    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(2.749634%,8.628845%,90.589905%);fill-opacity:1;" d="M 12.101562 21.144531 C 11.996094 20.894531 11.882812 20.640625 11.765625 20.390625 C 11.050781 18.890625 9.550781 17.929688 7.894531 17.90625 L 7.894531 8.789062 L 25.425781 2.976562 L 42.957031 8.789062 L 42.957031 31.148438 L 19.117188 31.148438 L 19.117188 29.742188 L 38.75 29.742188 L 38.75 12.835938 L 12.101562 12.835938 Z M 12.101562 21.144531 "/>
    </g>
    <g clip-path="url(#clip2)" clip-rule="nonzero">
    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(19.219971%,0%,47.839355%);fill-opacity:1;" d="M 7.335938 29.316406 C 7.335938 28.304688 6.523438 27.484375 5.515625 27.480469 C 4.511719 27.476562 3.691406 28.292969 3.6875 29.304688 C 3.6875 29.308594 3.6875 29.3125 3.6875 29.316406 C 3.683594 30.328125 4.496094 31.152344 5.503906 31.15625 C 6.511719 31.160156 7.332031 30.34375 7.335938 29.332031 C 7.335938 29.324219 7.335938 29.324219 7.335938 29.316406 Z M 7.335938 29.316406 "/>
    </g>
    <g clip-path="url(#clip3)" clip-rule="nonzero">
    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(19.219971%,0%,47.839355%);fill-opacity:1;" d="M 11.964844 29.316406 C 11.964844 28.304688 11.148438 27.488281 10.140625 27.484375 C 9.132812 27.484375 8.316406 28.304688 8.316406 29.316406 C 8.316406 30.328125 9.132812 31.148438 10.136719 31.148438 C 11.144531 31.148438 11.960938 30.332031 11.964844 29.320312 C 11.964844 29.320312 11.964844 29.320312 11.964844 29.316406 Z M 11.964844 29.316406 "/>
    </g>
    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(5.879211%,90.979004%,47.44873%);fill-opacity:1;" d="M 15.609375 20.585938 L 21.21875 20.585938 L 21.21875 26.21875 L 15.609375 26.21875 Z M 15.609375 20.585938 "/>
    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(98.429871%,65.098572%,5.879211%);fill-opacity:1;" d="M 5.933594 29.316406 C 5.933594 29.082031 5.746094 28.894531 5.511719 28.894531 C 5.28125 28.894531 5.089844 29.082031 5.089844 29.316406 C 5.089844 29.550781 5.277344 29.742188 5.507812 29.742188 C 5.742188 29.742188 5.929688 29.554688 5.933594 29.320312 C 5.933594 29.320312 5.933594 29.320312 5.933594 29.316406 Z M 5.933594 29.316406 "/>
    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(98.429871%,65.098572%,5.879211%);fill-opacity:1;" d="M 10.558594 29.316406 C 10.558594 29.433594 10.519531 29.535156 10.4375 29.617188 C 10.355469 29.699219 10.253906 29.738281 10.140625 29.738281 C 10.023438 29.738281 9.921875 29.699219 9.839844 29.617188 C 9.757812 29.535156 9.71875 29.433594 9.71875 29.316406 C 9.71875 29.199219 9.757812 29.101562 9.839844 29.019531 C 9.921875 28.9375 10.023438 28.894531 10.140625 28.894531 C 10.253906 28.894531 10.355469 28.9375 10.4375 29.019531 C 10.519531 29.101562 10.558594 29.199219 10.558594 29.316406 Z M 10.558594 29.316406 "/>
    </g>
    </svg>
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "Your Account", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Rejected Contacts", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Files Uploads", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", "https://www.koombea.com", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sig In', user_session_path, class: "btn1" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up", new_user_session_path, class: "btn1" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "btn2" %>
      </li>
    </ul>
  </div>
</nav>