<!-- Copyright (c) 2021 Maria Crespo
Don't count the days, make the days count...Go Head!
All Rights Reserved
-->

<h3> Edit Account Name </h3>

<%= form_with url: url, model: account, method: :patch do |form| %>
 <%= render partial: "layouts/flash", locals: {model: account} %>
  <div class="field">
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </div>
  <%= form.submit "Update", class: "btn2" %>
<% end %>
