<!-- Copyright (c) 2021 Maria Crespo
Don't count the days, make the days count...Go Head!
All Rights Reserved
-->
<script language="Javascript">
  Stripe.setPublishableKey("<%= ENV['STRIPE_TEST_PUBLISHABLE_KEY'] %>");
</script>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: "form", class: 'cc_form' })  do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :account_name, "Account name" %>
    <%= f.text_field :account_name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div><br/>

  <div class="field">
    <%= f.select :plan, plan: Plan.option %>
  </div>

<%= fields_for( :payment ) do |p| %>

  <div class="row col-md-12">
    <div class="form-group col-md-4 no-left-padding">
      <%= p.label :card_number, "Card Number", data: { stripe: 'label'} %>
      <%= p.text_field :card_number, class: "form-control", required: true, data: { stripe: 'number'} %>
    </div>

    <div class="form-group col-md-2">
      <%= p.label :card_cvv, "Card CVV", data: { stripe: 'label'} %>
      <%= p.text_field :card_cvv, class: "form-control", required: true, data: { stripe: 'cvc'} %>
    </div>

    <div class="form-group col-md-6">
      <div class="col-md-12">
        <%= p.label :card_expires, "Card Expires", data: { stripe: 'label'} %>
      </div>

      <div class="col-md-3">
        <%= p.select :card_expires_month, options_for_select(Payment.month_options),
                    { include_blank: 'Month' },
                    "data-stripe" => "exp-month",
                    class: "form-control", required: true %>
      </div>

      <div class="col-md-3">
        <%= p.select :card_expires_year, options_for_select(Payment.year_options.push),
                    { include_blank: 'Year' },
                    class: "form-control",
                    data: { stripe: "exp-year" }, required: true %>
      </div>
    </div>
  </div>
<% end%>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
